:root {
  --color-blue: rgb(26, 0, 137);
  --color-cloud: rgb(239, 234, 214);
  --font-title: 'Beckan', sans-serif;
  --font-sub: 'Sabon', sans-serif;
  --font-mont: 'Montserrat', sans-serif;

}

.Title {
  color: var(--color-cloud);
  font-family: var(--font-title);
  font-size: clamp(10rem, calc(1rem + 30vw), 30rem);
  line-height: 0.6;

}



.def {
  font-family: 'Times New Roman', serif;
  font-size: clamp(1rem, 1.633vw + 0.694rem, 1.4rem);
  color: var(--color-cloud);
  line-height: 1.1;
  position: absolute;
  text-align: right;
  right: 0px;
}

.animeDef {
  display: inline-block;
}

.def_first {
  font-size: clamp(1.3rem, 1.633vw + 0.694rem, 1.7rem);
  line-height: 1;
}

.landing-page {
  position: relative;
}



.click-anywhere {
  color: var(--color-cloud);
  font-size: clamp(0.9375rem, 0.8097rem + 0.5682vw, 1.25rem);
  font-family: var(--font-sub);
}

.menu {
  font-family: var(--font-mont);
  font-size: clamp(0.8rem, 0.537rem + 1.404vw, 1.6rem);
  border: rgb(255, 255, 255) 1px solid;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
}



.nav-items {
  display: flex !important;
  align-items: center !important;

}

.nav-bar {
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
  mix-blend-mode: difference;
  color: white
}

.wave-top {
  position: absolute;
  top: -1px;
  left: 50%;
  z-index: 99;
  width: 120%;
  height: clamp(100px, 12vw, 160px);
  transform: translateX(-50%);
}

.fill-section{
  height: clamp(100px, 12vw, 160px);
  background-color: var(--color-cloud);
  width: 100%;
  position:relative;
  padding: 0px;
  margin: 0px;

}

@media (max-width: 600px) {
  .wave-top {
    width: 180%;
    /* stretches wave horizontally */
    height: 120px;
  }

}

.wave-top path {
  fill: rgb(0, 0, 0);
  /* same as first section */
}

.third-section {
  position: relative;
  background-color: var(--color-cloud);
  color: black;
}



.second-section {
  position: relative;
  background-color: black;
}

.second-section-text {
  font-size: clamp(2.1rem, 1.074rem + 5.474vw, 6rem);
  color: var(--color-cloud);
  font-family: var(--font-mont);
  font-weight: 600;
  line-height: clamp(2rem, 1.211rem + 4.211vw, 5rem);
  display: inline-block;

}

.ticker {
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0px;
}

.ticker-track {
  display: flex;
  width: max-content;
  gap: 1rem;
  font-size: clamp(2.3rem, 1.211rem + 4.211vw, 4rem);
  font-family: var(--font-title);
  color: var(--color-cloud);
  border: var(--color-cloud) 0.5px solid;
  border-style: dashed;

  border-right: 0px;
  border-left: 0px;
}

.ticker-track span {
  flex-shrink: 0;
}

.ticker {
  mask-image: linear-gradient(to right,
      transparent,
      white 10%,
      white 90%,
      transparent);
}

.image-card {
  background-color: rgb(239, 234, 214);
  overflow: hidden;
  border-radius: 0.6rem;
  aspect-ratio: 4/5;
  display: flex;
  align-items: center;
}

.image-jacket {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: inline-block;
}

.access-image {
  z-index: 5
}

.text-exclusive {
  color: var(--color-cloud);
  font-family: var(--font-sub);
}

.one_liner {
  font-size: clamp(2.3rem, 0.274rem + 10.807vw, 10rem);
  font-family: var(--font-mont);
  font-weight: 800;
  line-height: 0.9;
  background: linear-gradient(
    -60deg,
    #3d3d3d 0%,
    #3d3d3d 40%,
    rgb(151, 151, 151) 50%,
    #3d3d3d 60%,
    #3d3d3d 100%
  );

  background-size: 200% auto;

  -webkit-background-clip: text;
  background-clip: text;
  color:transparent
}




.left-col,
.right-col {
  height: 100dvh;
  position: relative;
}

.right-col {
  overflow: hidden;
}


.scroll-img {
  height: 100dvh;
  display: flex;
  align-items: center;
  will-change: transform;
  justify-content: center;
}

.scroll-row {
  height: 100dvh;

}


.scroll-content-font {
  font-family: var(--font-mont);
}

.scroll-img {
  
  border: 2.5px black solid;
  border-radius: 0.8rem;
  margin: 2rem
}

.scroll-content {
  position: absolute;
  overflow: hidden;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: max-content;
}

.title-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: end;
  width: 70vh;
  position: relative;
  overflow: hidden;
  gap: 0.5rem;
}

.mobile-scroll-background {
  background-color: var(--color-cloud);
  border-radius: 1rem;
}

.mobile-scroll-text,
.mobile-scroll-text-review {
  font-size: clamp(1rem, 0.737rem + 1.404vw, 2rem);
  font-family: var(--font-mont);
  color: black;
  font-weight: 500;
  display: block;
  padding: 0;
  margin: 0
}

.mobile-scroll-text-review {
  font-size: clamp(0.6rem, 0.495rem + 0.561vw, 1rem);
}

.img-card {
  position: relative;
}

#prod-name-price,
#prod-rating,
#prod-review {
  display: inline-block;
}


.mobile-scroll-text-section {
  position: relative;

}

.fourth-section{
  position:relative;
  background-color: var(--color-cloud);
}

.font-category{
  font-family:var(--font-mont);
  color:rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 600;
}

.category-men {
  background-image: url('images/Category/menCate.png'); 

  background-repeat: no-repeat; 

  background-position: center; 

  background-size: cover; 

}

.category-women {
  background-image: url('images/Category/womenCate.png'); 

  background-repeat: no-repeat; 

  background-position: center; 

  background-size: cover; 

}

.category-accessories{
  background-image: url('images/Category/accessCate.png'); 

  background-repeat: no-repeat; 

  background-position: center; 

  background-size: cover; 

}

.font-newsletter{
  font-family:var(--font-title);
  color:rgb(255, 255, 255);
  font-size: 3rem;
}

.subscribe-name{
  background-color: rgb(0, 0, 0);
  height: 2.5rem;
  color:white;
  border: black 0.1rem solid;
  border-radius: 0.2rem;
}

.subscribe-name::placeholder{
  color:var(--color-cloud)
}